.pit {
    position: relative;
    display: flex;
    background-color: rgba(255, 169, 77, 0.7);
    text-align: center;
    color: aliceblue;
    margin: 5px; /* מרווח מכל הכיוונים  */
    border: 5px; /*עובי הגבול*/
    border-radius: 100px; /* בשביל שהגוחמה תהיה עיגולית*/
    border-style: inset; /*גורם לגבול להראות כלפי פנימה*/
    border-color: saddlebrown;
    flex-grow: 1;
    height: 150px;
    width: 160px;
}

.row {
    position: relative;
    display: flex;
    background-color: rgb(51, 26, 0);
    border-color: rosybrown;
    border-style: inset;
    border-radius: 70px;
   
}


.storep1 {
    position: relative;
    float: right;
    background-color: rgb(255, 169, 77);
    border: 5px;
    border-radius: 100px;
    border-style: inset;
    border-color: saddlebrown;
    flex-grow: 1;
    height: 320px;
    width: 180px;
}




.label {
    position: relative;
    display: inline-flex; /*מתאים את עצמו למה שיש בפנים*/
    float: left;
    background-color: seashell;
    color: purple;
    border: 2px;
    border-radius: 100px;
    border-style: inset;
    height: 20px;
    width: 20px;
    flex-grow: 1;
    font-weight: bold;
}

.storep2 {
    position: relative;
    float: left;
    background-color: rgb(255, 169, 77);
    border: 5px;
    border-radius: 100px;
    border-style: inset;
    border-color: saddlebrown;
    flex-grow: 1;
    height: 320px;
    width: 180px;
}

.board {
    background-color: rgb(77, 25, 25);
    border-radius: 50px;
    padding: 30px;
    display: inline-block;
}


.title {
    background-color: sandybrown;
    color: firebrick;
    text-align: center;
    border-style: dotted;
    border-color: red;
    padding: 30px;
    margin-bottom: 23px;
}

.winner {
    font-size: 150px;
}




